*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html{
  margin: 0;
  background-color: #13072E;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: beige;
  font-size: 12px;
}

header{
  background-color: #2B2C5F;
  display: flex;
  margin: 20px 80px;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  border-radius: 30px;
  font-family: url("Letras/TT\ Interphases\ Pro\ Trial\ Black.ttf");
}

header h1{
  font-size: 15px;
}

header img{
  width: 50px;
  border-radius: 100%;
  margin: 10px;
  

}
nav a{
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  color: white;
  margin: 6px;
}
main{
  font-family: "Montserrat", sans-serif;
  margin: 0 40px;
}

main p, ul{
  justify-content: center;
  align-items: center;
  /* display: flex; */
  margin-top: 20px;
  font-size: 16px;
  
}
.main{
    background-color: #2B2C5F;
    padding: 20px;
    border-radius: 20px;
  }

  .main h2{
    font-size: 26px;
    margin: 10px;
    margin-bottom: 19px;
  }
  .planetasp, .main img, .clasificacion, .parte2{
    display: flex;
    
  }

  .planetasp img{
    height: 360px;
    position: relative;
    bottom: 56px;
  }

  .main ul{
    margin-left: 25px;
  }
  .main h3{
    font-size: 18px;
    margin: 10px;
    margin-bottom: 20px;
  }